body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.counter-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1{
    font-size: 50px;
    margin: 20px 0;
}

h2{
    font-size: 50px;
    margin: 20px 0;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #00408a;
}